body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

#video-container, #webcam, #overlay {
  /* width: 50%;
  height: 50%; */
  position: absolute;
  top: 0;
  left: 0;
}

#eyes {
  /* width: 200px;
  height: 100px; */
  position: absolute;
  bottom: 0;
  right: 0;
}

#temp {
  position: absolute;
  bottom: 0;
  left: 0;
}

#target {
  background-color: lightgreen;
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease;
  box-shadow: 0 0 20px 10px white;
  border: 4px solid rgba(0,0,0,0.5);
  opacity: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #05668d;
  color: #ebf2fa;
  font-size: 16pt;
  padding: 0.5em;
}

a {
  color: inherit;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

#info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24pt;
  background-color: lightgreen;
  padding: 1em;
  border-radius: 10px;
  max-width: 500px;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#info h3 {
  margin: 0.2em 0;
}

#info.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

#training {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  background-color: lightblue;
  padding: 0.5em;
}

#training table {
  width: 100%;
  font-size: 16pt;
  font-family: 'Source Code Pro', monospace;
}

#training table td:nth-child(2) {
  text-align: right;
}

.buttonwrap {
  text-align: center;
}

button {
  position: relative;
  z-index: 11;
  cursor: pointer;
  font-size: 10pt;
  padding: 0.125em 0em;
  margin: 0.1em;
  width: 140px;
  font-family: 'Source Code Pro', monospace;
}

#heatMap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}

#data-uploader, #model-uploader {
  display: none;
}
